[submodule "BrickEngine/vendor/spdlog"]
	path = BrickEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "BrickEngine/vendor/GLFW"]
	path = BrickEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
